//base styles
@import '_base/_reset';
@import "_base/_variables";
@import "_base/_base";
@import '_base/_fonts';
@import "_base/_mixins";

//General
.upper {
  text-transform: uppercase;
}

.inline-list {
  font-size: 0;

  & > * {
    display: inline-block;
  }
}

.block-list {
  font-size: 0;

  & > * {
    display: block;
  }
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

#main-header {
  background-image: url('#{$vpath}/header-bg.jpg');
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  width: 100%;
  height: 100vh;
  padding: 30px;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-image 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -moz-transition: background-image 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -webkit-transition: background-image 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
  -ms-transition: background-image 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);

  canvas {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .04;
    position: absolute;
    z-index: -1;
  }

  .box-presentation {
    width: 150px;
    height: 200px;
    text-align: center;
  }

  .my-name {
    font-family: 'open_sanssemibold';
    font-size: 17px;
    margin-top: 8px;
  }

  .line {
    background-color: $colorWhite;
    width: 60px;
    height: 1px;
    display: inline-block;
  }

  .skills {
    font-family: 'open_sanslight';
    font-size: 10px;
    letter-spacing: .01em;
    margin-top: 13px;
  }
}

.wrap-boxes {
  width: 100%;  
  height: 100vh;
  @include flexboxContainer(flex, row, nowrap, center, center, center);
}

.menu {
  top: 30px;
  right: 30px;
  list-style-type: none;
  text-align: right;
  font-size: 0;
  z-index: 2;
  position: fixed;

  @media screen and (max-width: $tablet) { 
    text-align: center;
    right: 0;
    top: 0;
  }

  @media screen and (max-width: $mobile) { 
    left: 0;
    width: 100%;
  }



  li {
    @media screen and (max-width: $tablet) { 
      display: inline-block;
    }
  }

  a {
    font-family: 'open_sanslight';
    color: $colorWhite--2;
    font-size: 11px;
    padding-bottom: 5px;
    display: block;

    @media screen and (max-width: $tablet) { 
      padding: 10px 18px;
      display: inline-block;
      background: #1C1C1C;
    }
  }

  a:hover {
    color: $colorWhite
  }

  a.active {
    color: $colorWhite;
  }
}

.color-bg {
  background-image: url('#{$vpath}/bg-color.png') !important;
}

.info {
  position: absolute;
  bottom: 30px;
  left: 30px;
  color: $colorWhite;
  font-size: 16px;
}

.box-info {
  text-align: center;
  max-width: 500px;
  width: 90%;
  margin: 0 auto;
  display: none;
  padding-bottom: 90px;
  position: relative;

  @media screen and (max-width: $mobile) { 
    padding-bottom: 40px;
  }

  .hi {
    font-family: 'open_sanssemibold';
    font-size: 20px;
    margin-bottom: 11px;

    @media screen and (max-width: $mobile) {
      font-size: 18px;
      margin-bottom: 11px;
    }
  }

  .text {
    font-family: 'open_sansregular';
    font-size: 12px;
    line-height: 20px;
    margin-bottom: 50px;

    @media screen and (max-width: $mobile) {
      margin-bottom: 26px;
    }
  }

}

.icons-list {
  list-style-type: none;

  li {
	color: $colorWhite;
    vertical-align: top;
  }
  
  a {
    color: $colorWhite;
  }

  .desc {
    font-size: 12px;
  }
}

.icons--about {
    li {
      width: 25%;

      @media screen and (max-width: $mobile) {
        width: 50%;
        padding: 0 5px;
        margin-bottom: 30px;
      }
    }
  
  .fa {
    font-size: 36px;
    margin-bottom: 10px;

    @media screen and (max-width: $mobile) { 
      font-size: 32px;
    }
  }
}

.icons--contact {
  li {
    width: 100%;
    margin-bottom: 10px;
  }

  .fa {
    font-size: 30px;
    margin-right: 15px;
    vertical-align: middle;
  }

  .desc {
    vertical-align: middle;
  }
}

.wrap-jobs {
  min-height: 100vh;
  max-width: 1024px;
  margin: 0 auto;
  width: 90%;
  z-index: 1;
  position: relative;
  top: 100vh;
  padding: 50px 0 0 0;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  -moz-column-gap: 16px;
  -webkit-column-gap: 16px;
  column-gap: 16px;

  @media screen and (max-width: $mobile) {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1;
  }

  .job-item {
    background-color: $colorBlack;
    margin-bottom: 16px;
    vertical-align: top;
    position: relative;
  }
}

.job-item {
  img {
    display: block;
    -webkit-transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
     -moz-transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
       -o-transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
          transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    opacity: .8;
    
    @media screen and (min-width: $tablet) {
      -webkit-filter: grayscale(100%); /* Ch 23+, Saf 6.0+, BB 10.0+ */
      filter: grayscale(100%); /* FF 35+ */
    }
  }

  &:hover img {
    -webkit-filter: grayscale(0); /* Ch 23+, Saf 6.0+, BB 10.0+ */
        filter: grayscale(0); /* FF 35+ */
    opacity: 1;
  }

  .job-line {
    -webkit-transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
     -moz-transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
       -o-transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
          transition: all 600ms cubic-bezier(0.420, 0.000, 1.000, 1.000);
    
    @media screen and (min-width: $tablet) {
      margin-left: 20px;
      opacity: 0;
    }
  }

  &:hover .job-line{
    opacity: 1;
    margin-left: 0;
  }
}

.description {
  position: absolute;
  top: 50%;
  @include transform(translateY(-50%));
  left: 10%;
  
  .title {
    font-family: 'open_sanssemibold';
    font-size: 25px;
    color: $colorWhite;
    
    @media screen and (max-width: $tablet) {
      font-size: 18px;
    }
  }

  .tags {
    font-family: 'open_sansregular';
    font-size: 15px;
    color: $colorWhite;
    
    @media screen and (max-width: $tablet) {
      font-size: 13px;
    }
  }
}

.hamburger {
  font: inherit;
  display: inline-block;
  overflow: visible;
  margin: 0 auto;
  padding: 15px;
  cursor: pointer;
  text-transform: none;
  color: inherit;
  border: 0;
  background-color: transparent;
  margin-top: 35px;
}

.hamburger-box {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
  text-align: center;
}

.hamburger-inner {
  transform: translate3d(0,10px,0) rotate(45deg);
  display: block;
  margin-top: -2px;
}

.hamburger-inner:after {
  transform: translate3d(0,-20px,0) rotate(-90deg);
  top: 20px;
}

.hamburger .hamburger-inner, 
.hamburger .hamburger-inner:after, 
.hamburger .hamburger-inner:before {
  background-color: $colorWhite;
  position: absolute;
  width: 40px;
  height: 2px;
  border-radius: 4px;
}

.hamburger-inner:after, 
.hamburger-inner:before {
  display: block;
  content: "";
}

.lightbox .lb-image {
  border: 0;
}